.animated-background {
    background: conic-gradient(
      from 0deg at 100% 0%, 
      #06303a, 
      #FFD361, 
      #0f3d5a, 
      #000000, 
      #153c5b, 
      #051d22
    );
    background-size: 600% 600%; /* Larger background for smoother gradients */
    animation: animate-background 5s infinite linear; /* Linear for consistent motion */

  }
  


  @keyframes animate-background {
    0% {
      background-position: 0% 80%;
    }
    25% {
      background-position: 0% 0%;
    }
    50% {
      background-position: 0% 0%;
    }
    75% {
      background-position: 0% 0%;
    }
    100% {
      background-position: 0% 100%;
    }
  }
  