@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Define font faces for Gilroy */
@font-face {
  font-family: 'Gilroy-regular';
  src: url('/fonts/gilroy/gilroy-regular.woff2') format('woff2'),
       url('/fonts/gilroy/gilroy-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-bold';
  src: url('/fonts/gilroy/gilroy-bold.woff2') format('woff2'),
       url('/fonts/gilroy/gilroy-bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

/* Define font-face for Gilroy Light */
@font-face {
  font-family: 'Gilroy-Light';
  src: url('/fonts/gilroy/gilroy-light.woff2') format('woff2'),
       url('/fonts/gilroy/gilroy-light.woff') format('woff');
  font-weight: 300; /* Light weight */
  font-style: normal;
}

/* Import Plus Jakarta Sans */

/* Extend font styles with Plus Jakarta Sans */
.plus-jakarta-sans {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-style: normal;
  font-weight: 400; /* Default weight */
}
.plus-jakarta-sans-bold {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 700; /* Bold weight */
}
.plus-jakarta-sans-light {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-weight: 300; /* Light weight */
}
